body{

background: linear-gradient(90deg,#186aa4,#fff);
font-family: Arial;
text-align: center;
padding: 40px;

}

h1{

color: #1a237e;
font-size: 40px;

}

p{

font-size: 18px;
color: #333;

}

img{

width: 700px;
border-radius: 15px;
box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

}

button{

background: #ff5722;
color: white;
border: none;
padding: 12px 25px;
font-size: 16px;
border-radius: 8px;
cursor: pointer;

}

button:hover{

background:#19e62a;

}

#mensaje{

color: green;
font-size: 30px;
margin-top:20px;

}